
div.jlam-home {
  padding: 30px;
}

body {
  overflow: scroll;
}

#jseditor {
  margin: 10px;
  position:relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 450px;
}

#results {
  margin: 5px;
  position:relative;
}
